.back-face {
    transform: rotateY(180deg);
}
/* Para virar imagemPadrao para o Gif */
.card.virada .front-face{
    transform: rotateX(-180deg);
}
.card.virada .back-face{
    transform: rotateX(0deg);
}

*{
    height: 100%;
    text-decoration: ;
    box-sizing: border-box;
}

*:nth-child(1){
    background-color: aliceblue;
}